/* slideshow */
#slideshow {
  /*margin: 80px auto;*/
  border:3px solid #ffffff;
  position: relative;
  width: 300px;
  height: 300px;
  padding: 10px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 10);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

#slide {
  /*width: 400px;
  height: 375px;*/
  width: 300px;
  height: 275px;    
}

